<footer>
    <div class="container-footer">

        <section class="information">
            <h2>PlayRanker</h2>
            <p id="information">CodePen is a social development environment. At its heart, it allows you 
               to write code in the browser, and see the results of it as you build.</p>
        </section>
    
        <section class="liens">
            <div>
                <p>INFORMATIONS</p>
                <a href="">NOUS CONTACTER</a>
                <a href="">UN AVIS SUR LE SITE ?</a>
            </div>
            <div>
                <p>LIENS IMPORTANTS</p>
                <a href="{{ path('register') }}">INSCRIPTION</a>
                <a href="{{ path('login') }}">CONNEXION</a>
                <a href="">JEUX</a>
                <a href="">AVIS</a>
            </div>
        </section>
        
        <section class="reseaux">
            <div>
                <p>RESEAUX</p>
                <div>
                    <a href=""> <img src="img/instagram.png" alt="Logo Instagram" width="30" height="30"> PlayRanker</a>
                    <a href="https://www.facebook.com/groups/538218072111448"> <img class="separation" src="img/facebook.png" alt="Logo facebook" width="30" height="30">PlayRanker</a>
                    <a href=""> <img src="img/twitter.png" alt="Logo twitter" width="30" height="30"> PlayRanker</a>
                </div>
            </div>
        </section>

    </div>
    
    <section class="small">
            <small>©2024 PlayRanker, Inc. All rights reserved </small> 
            <p><a href=""> Politique de confidentialité </a> | <a href="">Paramètres des cookies</a> </p>
    </section>


</footer>