<section class="bg-home"> 

  <header class="container-header">

      <nav>

        <ul>

          <li>
            <a class='nav-a' href="">ACCUEIL</a>
          </li>

          <li>
            <a class='nav-a' href="">JEUX</a>
          </li>

          <li>
            <a class='nav-a' href="">AVIS</a>
          </li>

          <li>
            <a class='nav-a langar playranker' href="">PlayRanker</a>
          </li>

          <li>
            <a class='nav-a' href="">FAQ</a>
          </li>

          <li>
            <a class='nav-a' href="">PROFIL</a>
          </li>

          <li>
            <a class='nav-a' href="">DECONNEXION</a>
          </li>

          {# <li>
            <a class='nav-a' href="">INSCRIPTION</a>
          </li>

          <li>
            <a class='nav-a' href="">CONNEXION</a>
          </li>
        </ul> #}

      </nav>

  </header>

</section>
