<section id="bg-home"> 

  <header class="container-header">

      <nav>

        <ul>

          <li>
            <a class='nav-a is-current' href="{{ path('home') }}">ACCUEIL</a>
          </li>

          <li>
            <a class='nav-a' href="">JEUX</a>
          </li>

          <li>
            <a class='nav-a' href="">AVIS</a>
          </li>

          <li>
            <p class=' langar playranker'>PlayRanker</p>
          </li>

          <li>
            <a class='nav-a' href="">FAQ</a>
          </li>

          {% if app.user %}

          <li>
            <a class='nav-a' href="">PROFIL</a>
          </li>

          <li>
            <a class='nav-a' href="{{ path('logout') }}">DECONNEXION</a>
          </li>

          {% else %}

          <li>
            <a class='nav-a' href="{{ path('register') }}">INSCRIPTION</a>
          </li>

          <li>
            <a class='nav-a' href="{{ path('login') }}">CONNEXION</a>
          </li>
        </ul>
        
        {% endif %}

      </nav>

  </header>

</section>
