/* -------------------------------------------------------  */
/* FONTS */

/* Styles pour la police */


/* -------------------------------------------------------  */
/* GLOBAL STYLES */

/* Styles globaux pour tous les éléments */
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  text-decoration: none;
  box-sizing: border-box;
  text-align: -webkit-center;
}

/* -------------------------------------------------------  */
/* NAVIGATION BAR */

/* Styles pour le conteneur de la barre de navigation */
.container-header {
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative; /* Assurez-vous que la barre de navigation est positionnée correctement */
  z-index: 10; 
  margin: 0;
  border-bottom: #ECC33E solid 3px;
  background-position: 0% 1%;
  background: radial-gradient(circle, rgba(88,99,112,1) 0%, rgba(57,70,85,1) 50%, rgba(21,36,54,1) 100%);
}
  /* Styles pour la liste dans la barre de navigation */

/* Styles pour la liste dans la barre de navigation */
.container-header ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

/* Styles pour les liens de navigation */
.nav-a {
  color: #ECC33E;
  font-size: 20px;
  transition: font-size 0.1s ease, text-shadow 0.1s ease; /* Transition sur la taille de police et l'ombre */
  font-weight: bolder;
}

.nav-a:hover {
  color: white;
}

/* Styles pour les liens de navigation au survol */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: black; /* Couleur du texte */
  font-size: 18px;
  padding: 10px;
  position: relative;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ECC33E; /* Couleur des barres */
  transition: width 0.3s ease;
}

nav ul li a::before {
  top: 0;
  left: 0;
  transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a::after {
  bottom: 0;
  right: 0;
  transition: width 0.3s ease, right 0.3s ease;
}

nav ul li a:hover::before {
  width: 100%; /* Barre supérieure s'étend sur toute la largeur du texte */
  left: 0; /* Elle démarre de la gauche */
}

nav ul li a:hover::after {
  width: 100%; /* Barre inférieure s'étend sur toute la largeur du texte */
  right: 0; /* Elle démarre de la droite */
}



/* -------------------------------------------------------  */
/* TEXT IN IMG */

/* Styles pour la section d'arrière-plan de la page d'accueil */
#bg-home {
  width: 100%;
  padding: 10px 0;
  min-height: 90vh;
  position: relative;
  background-size: cover;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: #ECC33E solid 3px;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/076/408/744/large/hybs-woods-final-full.jpg?1716928038); /* Le chemin de l'image */
  text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0,0,0,0.15), 2px 2px 2px rgba(206,89,55,0);
  z-index: 1; 
}

/* Styles pour les éléments en position absolue */
.absolue {
  top: 40%;
  position: absolute;
}

/* Styles pour le titre du conteneur d'en-tête */
.container-header-title {
  text-align: -webkit-center;
}

/* Styles pour le titre principal du conteneur d'en-tête */
.container-header-title h1 {
  font-size: 50px;
  color: #ECC33E;
  padding: 200px 0 20px 0;
  text-shadow: 2px 3px 9px #22221f;
}

/* Styles pour le texte en gras du titre */
.container-header-title b {
  font-size:70px;
}

/* Styles pour le sous-titre du conteneur d'en-tête */
.container-header-title h2 {
  width: 60%;
  color: white;
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 3px 9px rgba(0, 0, 0, 0.86);
}

/* -------------------------------------------------------  */
/* BODY */

.container-wrap {
  background: radial-gradient(circle, rgba(88,99,112,1) 0%, rgba(57,70,85,1) 50%, rgba(21,36,54,1) 100%);
}

/* Styles pour le conteneur principal du corps */
.container-body {
  width: 100%;

}

/* Styles pour le titre de la section 100% GRATUIT */
.container-body-h3 {
  text-align: -webkit-center;
}

.container-body-h3 h3 {
  width: 34%;
  margin: 45px 0;
  padding: 50px 0;
  font-size: 70px;
  color: #ECC33E;
  text-align: center;
  text-shadow: 2px 3px 9px rgba(0,0,0,0.86);
}

/* -------------------------------------------------------  */
/* CARDS */

/* Styles pour le conteneur des cartes */
.cards {
  padding: 20px 20px 90px 20px;
  display: flex;
  justify-content: space-evenly;
}

/* Styles pour chaque carte */
.card {
  margin: 20px;
  border-radius: 10px;
  background: radial-gradient(circle, rgba(88,99,112,1) 0%, rgba(57,70,85,1) 50%, rgba(21,36,54,1) 100%);
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 25px 13px rgba(0,0,0,0.32), inset 0px 0px 25px 13px rgba(0,0,0,0.18);
}

/* Styles pour le texte à l'intérieur de la carte */
.card p {
  font-size: 30px;
  margin: 0px 30px;
}

/* Styles pour l'en-tête de la carte */
.card-header {
  padding: 35px;
  color: #ECC33E;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  background-color: #ECC33E;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 3px 9px -1px rgba(0,0,0,0.68); 
  box-shadow: inset 0px 3px 9px -1px rgba(0,0,0,0.68);
  text-shadow: 1px 2px 0 #000000, 1px 8px 5px #494848;
}

/* Styles pour le texte à l'intérieur de l'en-tête de la carte */
.card-header p {
  font-size: 50px;
}

/* Styles pour la section gauche des cartes */
.gauche {
  margin-bottom: 40px;
}

/* Styles pour le corps de la carte */
.card-body {
  margin-bottom: 20px;
}

/* Styles pour les informations de la carte */
.card-info {
  display: flex;
  padding: 10px 30px;
  margin-bottom: 20px;
  justify-content: space-between;
}

/* Styles pour les commentaires dans les cartes */
.comment {
  display: flex;
  align-items: center;
  margin: 33px 30px 20px 30px;
  justify-content: space-between;
}

/* Styles pour les profils dans les cartes */
.profile {
  display: flex;
  align-items: center;
}

/* Styles pour les images de profil */
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid #ECC33E 3px;
}

/* Styles pour les titres des jeux dans les cartes */
.game-title {
  display: flex;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
}

.game-title:hover{
  color: #ECC33E;
}

/* Styles pour les points des jeux */
.game-points {
  color: #ECC33E;
}

/* Styles pour les boutons dans les cartes */
.button {
  right: 40px;
  bottom: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
  transition: all .6s;
  text-transform: uppercase;
  border: 3px solid #ffffff;
  background-color: #ffa501;
  box-shadow: 0px 1px 5px rgb(0, 0, 0);
}

/* Styles pour les boutons au survol */
.button:hover {
  color: #ffa501;
  background-color: #fff;
  border: 3px solid #ffa501;
}

/* Styles pour les boutons au clic */
.button:active {
  border: none;
}

/* Styles pour le texte à l'intérieur des boutons */
.button p {
  font-size: 25px;
}

/* -------------------------------------------------------  */
/* CAROUSEL */

/* Styles pour le conteneur du carousel */
.hero-slider {
  width: 100%;
  height: 45vh;
  overflow: hidden;
  position: relative;
  border-top: #ECC33E solid 3px;
  border-bottom: #ECC33E solid 3px;
}

/* Styles pour chaque cellule du carousel */
.carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styles pour l'overlay du carousel */
.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(14, 29, 51, 0.2), rgba(14, 29, 51, 0.8));
}

/* Styles pour le contenu à l'intérieur de chaque cellule du carousel */
.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/* Styles pour les sous-titres dans le carousel */
.subtitle {
  font-size: 2.5rem;
  line-height: 1.2em;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}

/* Styles pour les titres dans le carousel */
.title {
  font-size: 1.7rem;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 35px;
}

/* Styles pour les boutons dans le carousel */
.btn {
  border: 1px solid #fff;
  padding: 14px 18px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #fff;
  border-radius: 30%;
  text-decoration: none;
  transition: all 0.2s ease;
}

/* Styles pour les boutons au survol dans le carousel */
.btn:hover {
  background: #fff;
  color: #000;
}

/* Styles pour les boutons de navigation dans le carousel */
.flickity-prev-next-button {
  width: 80px;
  height: 80px;
  background: transparent;
}

/* Styles pour les boutons de navigation au survol dans le carousel */
.flickity-prev-next-button:hover {
  background: transparent;
}

/* Styles pour les flèches de navigation dans le carousel */
.arrow {
  fill: white;
}

/* Styles pour les points de navigation dans le carousel */
.flickity-page-dots {
  bottom: 30px;
}

/* Styles pour les points de navigation */
.dot {
  width: 30px;
  height: 4px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 0 solid white;
  border-radius: 0;
}

/* Styles pour le point de navigation sélectionné */
.dot.is-selected {
  background: #ff0000;
  border: 0 solid #ff0000; 
}

/* -------------------------------------------------------  */
/* BUTTON */

/* Styles pour le bouton avec effet de lueur */
.glow-button {
  --button-background: #09041e;
  --button-color: #fff;
  --button-shadow: rgba(33, 4, 104, 0.2);
  --button-shine-left: rgba(120, 0, 245, 0.5);
  --button-shine-right: rgba(200, 148, 255, 0.65);
  --button-glow-start: #B000E8;
  --button-glow-end: #009FFD;

  appearance: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  position: relative;
  line-height: 24px;
  cursor: pointer;
  color: var(--button-color);
  padding: 0;
  margin: 0;
  background: none;
  z-index: 1;
  box-shadow: 0 8px 20px var(--button-shadow);

  .gradient {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    overflow: hidden;
    mask-image: -webkit-radial-gradient(white, black);
    transform: scaleY(1.02) scaleX(1.005) rotate(-.35deg);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: scale(1.05) translateY(-44px) rotate(0deg) translateZ(0);
      padding-bottom: 100%;
      border-radius: 50%;
      background: linear-gradient(90deg, var(--button-shine-left), var(--button-shine-right));
      animation: rotate linear 2s infinite;
    }
  }

  span {
    z-index: 1;
    -webkit-box-shadow: inset 0px 0px 22px 7px rgba(0,0,0,0.25), 0px 0px 20px 5px rgba(0,0,0,0.52); 
    box-shadow: inset 0px 0px 22px 7px rgba(0,0,0,0.25), 0px 0px 20px 5px rgba(0,0,0,0.52);
    position: relative;
    display: block;
    padding: 10px 28px;
    box-sizing: border-box;
    width: fit-content;
    min-width: 124px;
    border-radius: inherit;
    background-color: #ECC33E;
    overflow: hidden;
    mask-image: -webkit-radial-gradient(white, black);

    &:before {
      content: '';
      position: absolute;
      left: -16px;
      top: -16px;
      transform: translate(var(--pointer-x, 0px), var(--pointer-y, 0px)) translateZ(0);
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: var(--button-glow, transparent);
      opacity: var(--button-glow-opacity, 0);
      transition: opacity var(--button-glow-duration, .5s);
      filter: blur(20px);
    }
  }

  &:hover {
    --button-glow-opacity: 1;
    --button-glow-duration: .25s;
  }

  &:active {
    transform: scale(0.95);
    box-shadow: 0 4px 10px var(--button-shadow);
    background-color: #d4b22e; /* Une couleur plus foncée pour simuler l'enfoncement */
  }
}

/* Animation pour la lueur du bouton */
@keyframes rotate {
  to {
    transform: scale(1.05) translateY(-44px) rotate(360deg) translateZ(0);
  }
}

/* -------------------------------------------------------  */
/* FOOTER */

/* Styles pour le pied de page */
footer {
  width: 100%;
  text-align: center;
  background: rgb(88,99,112);
  border-top: #ECC33E solid 3px;
  background: radial-gradient(circle, rgba(88,99,112,1) 0%, rgba(57,70,85,1) 50%, rgba(21,36,54,1) 100%);
}

/* Styles pour le titre du pied de page */
footer h2 {
  font-size: 60px;
  color: #ECC33E;
  text-align: start;
  padding: 30px 0 0px 85px;
}

/* Styles pour la section d'information dans le pied de page */
#information {
  width: 70%;
  color: white;
  text-align: left;
  font-size: 18px;
  padding-top: 20px;
}

/* Styles pour le conteneur du pied de page */
.container-footer {
  display: flex;
}

/* Styles pour la section d'information dans le pied de page */
.information {
  width: 30%;
}

/* Styles pour la section des liens dans le pied de page */
.liens {
  gap: 80px;
  width: 50%;
  display: flex;
  margin: 50px 0;
  justify-content: center;
}

/* Styles pour le texte dans la section des liens */
.liens p {
  font-size: 20px;
  color: #ECC33E;
  text-align: start;
}

/* Styles pour les liens dans la section des liens */
.liens a {
  display: flex;
  color: white;
  padding-top: 5px;
  font-size: 13px;
}

/* Styles pour les liens dans la section des liens */
.liens a:hover {
  color: #ECC33E;
  text-decoration: underline;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Styles pour la section des réseaux sociaux dans le pied de page */
.reseaux {
  width: 20%;
  display: flex;
  margin: 50px 0;
  justify-content: center;
}

/* Styles pour le texte dans la section des réseaux sociaux */
.reseaux p {
  font-size: 20px;
  color: #ECC33E;
  text-align: start;
}

/* Styles pour les liens dans la section des réseaux sociaux */
.reseaux a {
  padding-top: 10px;
  gap: 10px;
  display: flex;
  color: white;
  font-size: 13px;
  align-items: center;
}

.reseaux a:hover {
  color: #ECC33E;
  text-decoration: underline;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Styles pour la séparation entre les sections du pied de page */
.separation {
  margin: 15px 0;
}

/* Styles pour les petits textes dans le pied de page */
small {
  font-size: 13px;
  color: #ECC33E;
}

/* Styles pour les liens dans les petits textes */
.small a {
  color: white;
  font-size: 13px;
}

.small a:hover {
  color:  #ECC33E;
  text-decoration: underline;
}

/* Styles pour le texte dans les petits textes */
.small p {
  color: #ECC33E;
  padding-bottom: 5px;
}

/* -------------------------------------------------------  */
/* FORM CONTACT */


/* Styles pour la section contact */
.container-contact {
  padding: 120px 0;
}

/* Styles pour le conteneur du formulaire */
.container-form {
  width: 50%;
  background: radial-gradient(circle, rgba(88,99,112,1) 0%, rgba(57,70,85,1) 50%, rgba(21,36,54,1) 100%);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 25px 13px rgba(0,0,0,0.32);
}

/* Styles pour le titre du formulaire */
.container-form h3 {
  font-size: 50px;
  color: #ECC33E;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 3px 9px rgba(0,0,0,0.86);
}

/* Styles pour les champs de saisie */
.input-contact, .textarea-contact {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 3px solid #ECC33E;
  background-color: #ffffff;
  color: #333;
  font-size: 20px;
  font-family: lalezar;
  border-radius: 5px;
  box-shadow: inset 0px 2px 5px rgba(0,0,0,0.3);
  transition: border 0.3s ease;
}

/* Styles pour le champ textearea */
.textarea-contact {
  resize: none;
  height: 150px;
}

/* Effet au focus sur les champs */
.input-contact:focus, .textarea-contact:focus {
  outline: none;
  border: 3px solid #ffa501;
}

.form-label {
  display: flex;
  margin-top: 10px;
  color: #ffffff;
  font-size: 20px;
}

.form-label-small {
  display: flex;
  margin-top: 10px;
  color: #ECC33E;
}

/* -------------------------------------------------------  */
/* FORMULAIRE DE CONNEXION */

.bg-login {
  display: flex;
  padding: 10px 0;
  min-height: 105vh;
  position: relative;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/076/586/446/large/hybs-pegasus.jpg?1717336241) ;
}

.login-h1{
  display: flex;
}

.section-input {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.form-container{
  width: 800px;
  color: #fff;
  padding: 50px 60px;
  border-radius: 15px;
  background: rgba(5, 5, 5, 0.7)
}

.register{
  display: flex;
  font-size: 14px;
  margin-top: 20px;
  justify-content: center;
}

.register a{
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.register p {
  color: #fff;
  font-size: 20px;
}

.register p a:hover{
  color: #ECC33E;
}

.btn-login{
  width: 100%;
  border: none;
  height: 40px;
  outline: none;
  color: #000;
  transition: 1s;
  font-size: 15px;
  font-weight: 600;
  border-radius: 20px;
  background: #ECC33E;
  box-shadow: 0 0 20px #ECC33E;
}

.btn-login:hover{
  color: #fff;
  transform: scale(1.1);
  background: transparent;
  border: 2px solid #ECC33E;
  box-shadow: 0 0 20px #ECC33E;
}

.remember{
  display: flex;
  font-size: 20px;
  flex-direction: row;
  margin: 10px 30px 25px;
  justify-content: space-between;
}

.remember a{
  color: #fff;
  font-size: 20PX;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}

.remember a:hover{
  color: #ECC33E;
}

.input-box{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 15px 0;
}

.input-box-mdp {
  width: 100%;
  height: 100%;
  border: none;
  color: #fff;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #fff;
}

.input-box-email {
  width: 100%;
  height: 100%;
  outline: none;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #fff;
}

.input-box i{
  top: 50%;
  right: 20px;
  font-size: 20px;
  position: absolute;
  transform: translateY(-50%);
}


/* -------------------------------------------------------  */
/* BARRE DE RECHERCHE */
.bg-inscription {
  z-index: 1; 
  width: 100%;
  padding: 10px 0;
  min-height: 90vh;
  position: relative;
  background-size: cover;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: #ECC33E solid 3px;
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/007/505/041/large/pawel-szklarski-ac2.jpg?1506591120);
}

.recherche-form{
  margin-top: 50px;
}

#search{
  Padding: 5px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  border-color: #ECC33E;
  background-color: #ffffff;
  padding: 10px 150px 10px 150px;
}

#search-btn {
  Padding: 5px;
  color: #ECC33E;
  border-radius: 10px;
  border-color: #ECC33E;
  padding: 10px 20px 10px 20px;
  background-color: rgba(21, 36, 54, 1);
}

/* -------------------------------------------------------  */
/* INSCRIPTION */

/* Section d'inscription */
.bg-inscription {
  display: flex;
  padding: 10px 0;
  min-height: 105vh;
  position: relative;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/007/505/039/large/pawel-szklarski-ac1.jpg?1506591117);
}

.inscription-h1 {
  color: #fff;
  display: flex;
  font-size: 36px;
}

.section-input {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 800px;
  color: #fff;
  padding: 50px 60px;
  border-radius: 15px;
  background: rgba(5, 5, 5, 0.7);
}

.register-link {
  display: flex;
  font-size: 14px;
  margin-top: 20px;
  justify-content: center;
}

.register-link a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.register-link p {
  color: #fff;
  font-size: 20px;
}

.register-link p a:hover {
  color: #ECC33E;
}

.btn-register {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  color: #000;
  transition: 1s;
  font-size: 15px;
  font-weight: 600;
  border-radius: 20px;
  background: #ECC33E;
  box-shadow: 0 0 20px #ECC33E;
}

.btn-register:hover {
  color: #fff;
  transform: scale(1.1);
  background: transparent;
  border: 2px solid #ECC33E;
  box-shadow: 0 0 20px #ECC33E;
}

.input-box {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 15px 0;
}

.input-box-mdp, .input-box-email {
  padding: 5px;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 15px;
  color: #000000;
  border-radius: 5px;
  background: #ffffff;
  border: 0px solid #fff;
}

.input-box i {
  top: 50%;
  right: 20px;
  font-size: 20px;
  position: absolute;
  transform: translateY(-50%);
}

.form-group a {
  color:white;
  font-size: 20px;
}
.form-group a:hover {
  color:#ECC33E;
}

.btn-register{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  color: #000;
  transition: 1s;
  font-size: 15px;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 20px;
  background: #ECC33E;
  box-shadow: 0 0 20px #ECC33E;
}

.register-title {
  display: flex;
}

.input-box label{
  display: flex;
}

.required::after{
  content: "*";
  color:#ECC33E;
}

.form-container small {
  color:#ECC33E;
}

.bx-lock-alt {
  margin-top: 10px;
}

.bx-envelope{
  margin-top: 10px;
}

.contact-form {
  gap: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nom, #sujet {
  width: 415px;
}


/* --------------------------------- */
/* Vue des mots de passe cacher*/

.input-box {
  position: relative;
}

#togglePassword:hover {
  color: #ECC33E;
}

/* -------------------------------------------------------  */
/* GAME CARDS */

.container-jeux {
  margin: 80px 0;
}

/* Styles pour le conteneur des cartes de jeux */
.game-card-container {
  gap: 50px;
  width: 90%;
  display: grid;
  margin: 0px auto;
  grid-template-columns: repeat(4, 1fr);
}

/* Styles pour chaque carte de jeu */
.game-card {
  width: 360px;
  display: flex;
  padding: 15px;
  color: #ffffff;
  overflow: hidden;
  min-height: 420px;
  position: relative;
  text-align: center;
  border-radius: 10px;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.6), 0px 0px 15px 8px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, rgba(85, 98, 112, 1) 0%, rgba(45, 58, 75, 1) 100%);
}


/* Effet de survol pour la carte */
.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.7), 0px 0px 20px 10px rgba(0,0,0,0.4);
}

/* Styles pour l'en-tête de chaque carte de jeu */
.game-card-header {
  height: 80px;
  display: flex;
  padding: 15px;
  font-size: 15px;
  color: #FFCC00;
  font-weight: bold;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-shadow: 2px 2px 0 #000000;
}

.game-card-header h3 {
  font-size: 15px;
}

/* Styles pour l'image de la carte de jeu */
.game-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Styles pour le conteneur des boutons */
.button-container {
  width: 100%;
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
}

/* Styles pour les boutons */
.detail-button {
  cursor: pointer;
  font-weight:700;
  font-size: 16px;
  color: #ECC33E;
  padding: 10px 75px;
  border-radius: 5px;
  border-style: groove;
  text-decoration: none; 
  display: inline-block;
  border-color: #ECC33E;
  transition: background-color 0.3s ease;
  background-color: rgba(21, 36, 54, 1);
}

.detail-button-deux {
  cursor: pointer;
  font-size: 16px;
  font-weight:700;
  color: #ECC33E;
  border-radius: 5px;
  padding: 10px 112px;
  border-style: groove;
  text-decoration: none; 
  display: inline-block;
  border-color: #ECC33E;
  transition: background-color 0.3s ease;
  background-color: rgba(21, 36, 54, 1);
}

.increment-button{
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight:700;
  color: #ECC33E;
  padding: 10px 15px;
  border-radius: 5px;
  border-style: groove;
  text-decoration: none; 
  display: inline-block;
  border-color: #ECC33E;
  transition: background-color 0.3s ease;
  background-color: rgba(21, 36, 54, 1);
}

.detail-button:hover {
  border-style: groove;
  color: rgba(21, 36, 54, 1);
  background-color: #ECC33E;
  border: rgba(21, 36, 54, 1) 2px solid;
  box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.7), 0px 0px 20px 10px rgba(0,0,0,0.4);
}

/* Styles spécifiques pour le bouton add */
.add-button {
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-button i {
  color: #ffffff; 
}

.title{
  font-size: 20px;
}

.page-title {
  margin: 40px 0;
  color: #ECC33E;
}

.container-recherche-jeux {
  width: 85%;
  height: 200px;
  margin: 50px 0;
  margin-top: 40px;
  border-radius: 20px;
  box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.6), 0px 0px 15px 8px rgba(0, 0, 0, 0.3);
}

.container-search-jeux {
  margin-top: 40px;
}

/* ------------------------------------------------------  */
/* PAGINATION */

.pagination {
  display: flex;
  margin: 20px 0; 
  align-items: center; 
  justify-content: center;
  font-family: Arial, sans-serif;
}

.pagination a {
  margin: 0 5px;
  color: #0C1D36;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #ECC33E;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: #d4b92e;
}

.pagination span {
  margin: 0 5px;
  color: #ECC33E;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #0C1D36;
}

.pagination a.disabled {
  color: #666666;
  pointer-events: none;
  background-color: #cccccc;
}

/* -------------------------------------------------------  */
/* DETAIL JEUX */

/* Container principal */
.game-detail-container {
  width: 80%;
  display: flex;
  color: white;
  margin: 50px 0 10px 0;
  justify-content: space-evenly;
}

/* Section de l'image du jeu */
.game-detail-image {
  width: 50%; 
}

.game-detail-image img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Section des détails du jeu */
.game-detail-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-detail-info p {
  font-size: 17px;
  text-align: -webkit-left;
  margin-top: 5px;
}

.game-detail-p {
  float: left;
}

.game-detail-info p span {
  font-size: 17px;
  color: #ECC33E;
  font-weight: bold;
}

.container-multi-reponse {
  display: flex;
  margin-top: 10px;
}

.tag-label {
  color: #ECC33E;
  font-weight: bold;
  margin-right: 5px;
}

.tag-list {
  column-count: 3;
  column-gap: 15px;
}

/* Bouton du site web */
.game-detail-info button {
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #0C1D36;
  border-radius: 5px;
  background-color: #0C1D36;
  transition: background-color 0.3s ease;
}

.game-detail-info button:hover {
  color: #0C1D36;
  box-shadow: 0 0 20px #0C1D36;
}

.game-detail-info a {
  text-decoration: none;
  color: #ffffff;
}

.game-detail-info a:hover {
  color: #0C1D36;
}

/* Section de description */
.game-description {
  width: 77%;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 50px;
}

.container-button-general {
  display: flex;
  margin-top: 20px;
}

.section-video {
  width: 77%;
  display: flex;
  justify-content: flex-start;
}

.section-video-h3, .game-description h3 {
  width: 77%;
  display: flex;
  margin: 20px 0;
  font-size: 20px;
  color: #ECC33E;
}

.ifram:hover {
  font-size: 50%;
}

.platforms {
  width: 100%;
  height: 45px;
}

.platform {
  gap: 10px;
  width: 90%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  align-content: flex-start;
  justify-content: flex-start;
  filter: drop-shadow(0 0 0.75rem black);
}


.platforms P{
  display: contents;
}

.platforms-detail {
  width: 100%;
  height: 45px;
}

.platform-detail {
  gap: 10px;
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: flex-start;
  filter: drop-shadow(0 0 0.75rem black);
}

/* ---------------------------------------------------*/
/* */

.profil-container {
  padding: 20px;
  background: radial-gradient(circle, rgba(88,99,112,1) 0%, rgba(57,70,85,1) 50%, rgba(21,36,54,1) 100%);
}

.profil-title h2 {
  font-size: 40px;
  color: #ECC33E;
  text-shadow: 2px 3px 9px rgba(0, 0, 0, 0.86);
}

/* PROFILE SECTION */
.profil-section {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.profil-card {
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 25px 13px rgba(0,0,0,0.32);
  background: radial-gradient(circle, rgba(88,99,112,1) 0%, rgba(57,70,85,1) 50%, rgba(21,36,54,1) 100%);
}

/* Card Header */
.profil-card-header h2 {
  font-size: 30px;
  color: #ECC33E;
}

/* Card Content */
.profil-card-content {
  margin-top: 20px;
}

/* User Info */
.profil-user-info {
  display: flex;
  font-size: 20px;
  align-items: center;
  margin: 20px 0 20px 20px;
}

.profil-user-info b {
  font-size: 25px;
}

.profil-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
  border: solid #ECC33E 3px;
}

.profil-user-details h3,
.profil-user-details p {
  margin: 20px;
  color: white;
  text-align: left;
}

.profil-user-details b {
  font-size: 20px;
  color: #ECC33E;
  margin-right: 5px;
}

#form_pseudo , #form_email {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  font-size: 15px;
  color: #000000;
  border-radius: 5px;
  background: #ffffff;
  border: 0px solid #fff;
}

.input-btn {
  gap: 20px;
  display: flex;
  justify-content: center;
}

/* --------------------------------------------------------  */

/* Styles de base pour la mise en page */
.container-console {
  gap: 20px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.recherche-form-jeux {
  gap: 10px;
  display: flex;
  justify-content: center;
}

/* Styles pour les boutons du dropdown */
.dropbtn {
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #ECC33E; /* Couleur du texte */
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #0C1D36; /* Couleur de fond du bouton */
}

.dropbtn:hover {
  color: white;
  background-color: #0C1D36;
}

/* Le conteneur dropdown (caché par défaut) */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Styles pour les liens dans le dropdown */
.dropdown-content {
  z-index: 1;
  display: none;
  min-width: 160px;
  position: absolute;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #000;
  border-radius: 5px;
  background-color: #ECC33E;
}

/* Afficher le dropdown au survol */
.dropdown-content.show {
  display: block;
}

.container-add-category{
  width: 70%;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.container-add-category h2 {
  padding: 0 10px 10px 0;
  color: white;
  font-size: 20px;
}

.button-add-category {
  background-color: #ECC33E;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

.button-add-category a {
  color: #000;
}

.button-edit-category , .button-delete-category {
  background-color: #ECC33E;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

.button-edit-category a {
  color: #000;
}

.container-edit-category {
  display: flex;
  width: 70%;
  margin: 0 0 25px 0;
  color: white;
  font-weight: 700;
}

.container-edit-category td {
  padding: 0px 10px;
  font-size: 15px;
}
.container-edit-category th {
  color: white;
  font-size: 24px;
}

.section-all-subcategory {
  column-count: 4;
  width: 80%;
  margin: 0 0 40px 0;
}
