/* ----------------------------------------------------------- */
/* Variables de couleur                                        */
/* ----------------------------------------------------------- */

:root {
  --background-dark: #000;                                   /* Arrière-plan noir */
  --text-light: #FFFFFF;                                     /* Texte en blanc */
  --text-yellow: #ECC33E;                                    /* Couleur du texte (jaune doré) */
  --text-medium: #666;                                       /* Couleur du texte (gris moyen) */
  --text-dark: #333;                                         /* Couleur du texte (gris foncé) */
  --border-yellow: #efd807;                                  /* Bordure jaune doré */
  --border-orange: #ECC33E;                                  /* Bordure orange vif */
  --button-bg-yellow: #efd807;                               /* Couleur de fond du bouton jaune doré */
  --button-bg-orange: #ECC33E;                               /* Couleur d'arrière-plan orange au survol */
  --background-light: #F5F5F5;                               /* Arrière-plan gris clair pour le corps */
}

/* ----------------------------------------------------------- */
/* Styles globaux appliqués à tous les éléments                */
/* ----------------------------------------------------------- */

* {
  margin: 0;                                                   /* Supprime les marges par défaut */
  padding: 0;                                                  /* Supprime le rembourrage par défaut */
  font-family: 'Montserrat', sans-serif;                       /* Définit la police Montserrat pour tout le texte */
  text-decoration: none;                                       /* Supprime le soulignement des liens */
  box-sizing: border-box;                                      /* Inclut les bordures et le rembourrage dans la largeur et la hauteur */
}

/* ----------------------------------------------------------- */
/* Styles pour la section d'en-tête                            */
/* ----------------------------------------------------------- */

.header-section {
  background-color: var(--background-dark);                    /* Arrière-plan gris foncé */
  color: var(--text-light);                                    /* Texte blanc */
  padding: 40px 20px;                                          /* Rembourrage autour du contenu */
  text-align: center;                                          /* Centre le texte */
}

/* Styles pour le titre principal */
.header-section h1 {
  font-size: 4rem;                                             /* Taille de police pour le titre principal */
  margin-bottom: 15px;                                         /* Marge en bas du titre */
  font-weight: bold;                                           /* Met le titre en gras */
  color: var(--border-yellow);
}

/* Styles pour le sous-titre */
.header-section h3 {
  width: 55%;
  text-align: center;
  font-size: 1.1rem;
  margin:  5px 0 30px 0;
  line-height: 1.5;
  display: -webkit-inline-box;
}

/* ----------------------------------------------------------- */
/* Styles pour le conteneur de recherche                       */
/* ----------------------------------------------------------- */

.search-container {
  display: flex;                                               /* Utilise flexbox pour un meilleur alignement */
  justify-content: center;                                     /* Centre le formulaire de recherche */
  position: relative;
  width: 100%;
}

/* Styles pour le formulaire de recherche */
.search-form {
  display: flex;                                               /* Flex pour le champ et le bouton */
}

/* Styles pour le champ de recherche */
.search-input {
  padding: 10px 50px 10px 50px;
  font-size: 16px;
  border: 3px solid #ccc;
  border-radius: 25px;
  outline: none;
  box-sizing: border-box;
}

/* Effet de focus sur le champ de recherche */
.search-input:focus {
  border-color: var(--border-orange);                          /* Bordure orange vif au focus */
  outline: none;                                               /* Supprime le contour par défaut */
}

/* Styles pour le bouton de recherche */
#search-btn {
  padding: 12px 20px;                                          /* Rembourrage à l'intérieur du bouton */
  background-color: var(--button-bg-yellow);                   /* Couleur de fond jaune doré */
  color: var(--background-dark);                               /* Couleur du texte (gris foncé) */
  border: none;                                                /* Supprime la bordure par défaut */
  cursor: pointer;                                             /* Changement du curseur au survol */
  transition: background-color 0.3s ease;                      /* Transition pour l'effet de survol */
}

/* Effet de survol sur le bouton */
#search-btn:hover {
  background-color: var(--button-bg-yellow);                   /* Couleur d'arrière-plan orange au survol */
}

/* Style pour l'icône de recherche */
.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--background-dark);
  font-size: 18px;
  margin: 0px 15px;
}

/* ----------------------------------------------------------- */
/* Styles pour la section de notation                          */
/* ----------------------------------------------------------- */

.rate-section {
  text-align: center;                                          /* Centre le texte horizontalement */
  margin-bottom: 30px;                                         /* Marge en bas de la section */
  background-color: var(--background-light);                   /* Arrière-plan gris clair pour le corps */
  padding: 40px 20px;  
}

.rate-section h2 {
  font-size: 4rem;                                            /* Taille de police pour le titre */
  color: var(--background-dark);                              /* Couleur du texte (gris foncé) */
  font-weight: bold;                                          /* Met le titre en gras */
  line-height: 1.4;                                           /* Hauteur de ligne pour une meilleure lisibilité */
  margin-bottom: 15px;                                        /* Marge en bas du titre */
  padding: 10px 0;                                            /* Rembourrage autour de la section */
}
