{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

Add new category
    <div>
        <a href="{{ path('platform.add') }}">ADD</a>
    </div>

{# Edit category
    <div>
        <a href="{{ path('platform.edit', {'id': category.id} ) }}">EDIT</a>
    </div> #}
{% endblock %}
