{% extends 'base.html.twig' %}

{% block title %} Admin {% endblock %}

{% block body %}

    <div class="container mx-auto p-2 pt-4">
        <h1 class="text-3xl p-7 text-center font-bold">Edit a Platform</h1>

        <div class="bg-white shadow-md rounded p-2">
            <h2 class="text-xl font-bold mb-1">Platform modification Form</h2>

            {{ form_start(form) }}
                <div class="mb-4">
                    {{ form_row(form.name) }}
                </div>

                <div class="flex">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Save Changes</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}