{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur PlayRanker{% endblock %}

{% block body %}

<div class="container-header-title absolue">
  <h1> Bienvenue sur <b> PlayRanker </b> </h1>
      <h2>
        Le premier espace en ligne dédié exclusivement à l'évaluation des jeux !  
        Que vous soyez un joueur passionné ou un curieux à la recherche de nouveaux défis, 
        nous sommes votre référence ultime. Découvrez nos évaluations, 
        des astuces inédites pour maîtriser vos jeux préférés, 
        et des avis d'experts pour vous guider dans vos choix.
      </h2>
</div>

<div>
  <h3> Notez-les, c'est 100% gratuit ! </h3>
  <div class="container-cards">
      <div class="card">
          
      </div>
      <div class="card">
          
      </div>
  </div>
  
  <div class="container-test">
      <h4>"Plongez dans l'univers du jeu vidéo avec notre espace en ligne dédié : évaluations, astuces, et conseils d'experts pour vous accompagner à chaque étape !"</h4>
      <button>Inscrivez-vous</button>
  </div>
</div>


    
{% endblock %}
