{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur PlayRanker{% endblock %}

{% block body %}

<!-- -------------------------------------------------------  -->
<!-- SECTION PRINCIPALE -->

<main class="container-body">

    <!-- -------------------------------------------------------  -->
    <!-- TITRE PRINCIPAL ET DESCRIPTION -->

    <section class="header-section" id="bg-home">
    
      <h1> Welcome to  <b> PlayRanker </b> </h1>
      <h3>
        The first online space dedicated exclusively to game evaluation!  
        Whether you are a passionate gamer or a curious person looking for new challenges, 
        we are your ultimate reference. Discover our evaluations, 
        new tips to master your favorite games, and expert opinions to guide you in your choices.
      </h3>

      <div class="search-container">
        <form class="search-form" action="{{ path('search') }}" id="searchthis" method="post">
          <input class="search-input" id="search" name="input" type="text" placeholder="Search for a game" />
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </form>
      </div>

    </section>

    <!-- ------------------------------------------------------ -->
    <!-- -------------------- Cherchez-les -------------------- -->

    <section class="rate-section">
      <h2> Discover your favorite games, unlimited and free! </h2>
    </section>


    <!-- ------------------------------------------------------ -->
    <!-- ------------------- Séparateur ----------------------- -->
    <section class="section-top">
      <div class="separator">
        <span>TOP 3 RATED GAMES</span>
      </div>

      <!-- ------------------------------------------------------ -->   
      <!-- ------------- Top 3 des meilleurs notes -------------- -->

      <div class="container-card">

        <div class="card">
            <div class="front-face">
                <div class="content">
                    <h2 class="number">TOP 1</h2>
                    <h2 class="title">Call of Duty : Vanguard</h2>
                    <span class="stars">⭐⭐⭐</span>
                    <p class="description">PS5, PS4, XBOX</p>
                    <div class="bouton-card"> <a href="#">Read more</a> </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="front-face">
                <div class="content">
                    <h2 class="number">TOP 2</h2>
                    <h2 class="title">Tomb Raider (2013)</h2>
                    <span class="stars">⭐⭐</span>
                    <p class="description">PS5, PS4, XBOX</p>
                    <div class="bouton-card"> <a href="#">Read more</a> </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="front-face">
                <div class="content">
                    <h2 class="number">TOP 3</h2>
                    <h2 class="title">Minecraft</h2>
                    <span class="stars">⭐</span>
                    <p class="description">PS5, PS4, XBOX</p>
                    <div class="bouton-card"> <a href="#">Read more</a> </div>
                </div>
            </div>
        </div>
      </div>

    </section>

    <!-- ------------------------------------------------------ -->
    <!-- ------------------- Séparateur ----------------------- -->
    
    <div class="separator">
      <span>LATEST REVIEW</span>
    </div>

    <!-- ------------------------------------------------------ -->
    <!-- ------------------- Séparateur ----------------------- -->

    <section class="review-section">
      <div class="review-container">

        <div class="review-content">
          <img src="https://i.ytimg.com/vi/ANu6ZedIfA4/maxresdefault.jpg" alt="Review Image" class="review-image">
          <div class="review-text">
            <h2>Call of Duty: Vanguard</h2>
            <p>"Call of Duty: Vanguard" brings fast-paced action and stunning visuals, though the campaign lacks emotional depth. The multiplayer shines with diverse modes and the new "Champion Hill" feature, offering a fresh twist to the gameplay. A solid but not groundbreaking entry in the series.</p>
            <div class="review-container-text">
              <div class="bouton-review"><a href="#">Read more</a></div>
              <p>De<a href="#">Dylan</a> Le 20/09/2023</p>
            </div>
          </div>
        </div>

        <div class="review-content">
          <img src="https://i.ytimg.com/vi/ANu6ZedIfA4/maxresdefault.jpg" alt="Review Image" class="review-image">
          <div class="review-text">
            <h2>Call of Duty: Vanguard</h2>
            <p>"Call of Duty: Vanguard" brings fast-paced action and stunning visuals, though the campaign lacks emotional depth. The multiplayer shines with diverse modes and the new "Champion Hill" feature, offering a fresh twist to the gameplay. A solid but not groundbreaking entry in the series.</p>
            <div class="review-container-text">
              <div class="bouton-review"><a href="#">Read more</a></div>
              <p>De<a href="#">Dylan</a> Le 20/09/2023</p>
            </div>
          </div>
        </div>

        <div class="review-content">
          <img src="https://i.ytimg.com/vi/ANu6ZedIfA4/maxresdefault.jpg" alt="Review Image" class="review-image">
          <div class="review-text">
            <h2>Call of Duty: Vanguard</h2>
            <p>"Call of Duty: Vanguard" brings fast-paced action and stunning visuals, though the campaign lacks emotional depth. The multiplayer shines with diverse modes and the new "Champion Hill" feature, offering a fresh twist to the gameplay. A solid but not groundbreaking entry in the series.</p>
            <div class="review-container-text">
              <div class="bouton-review"><a href="#">Read more</a></div>
              <p>De<a href="#">Dylan</a> Le 20/09/2023</p>
            </div>
          </div>
        </div>
      </div>

      <button class="prev">←</button>
      <button class="next">→</button>
    </section>

    <!-- ------------------------------------------------------ -->
    <!-- ------------------- Séparateur ----------------------- -->
    
    <div class="separator">
      <span>CONCTACT US</span>
    </div>

    <!-- ------------------------------------------------------ -->
    <!-- ------------------- contact ----------------------- -->

    <section class="contact-section">
      <div class="contact-container">
        <form class="contact-form" action="#" method="post">
          <div class="form-group">
            <label for="name">Your Name:</label>
            <input type="text" id="name" class="form-input" placeholder="Enter your name" required>
          </div>
          <div class="form-group">
            <label for="email">Your Email:</label>
            <input type="email" id="email" class="form-input" placeholder="Enter your email" required>
          </div>
          <div class="form-group">
            <label for="message">Your Message:</label>
            <textarea id="message" class="form-textarea" rows="5" placeholder="Type your message here..." required></textarea>
          </div>
          <button type="submit" class="contact-btn">Send Message</button>
        </form>
      <div>
    </section>


</main




{% endblock %}
