{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur PlayRanker{% endblock %}

{% block body %}

<div class="container-body">

  <section class="container-header-title absolue">

    <h1> Bienvenue sur <b> PlayRanker </b> </h1>

      <h2>

        Le premier espace en ligne dédié exclusivement à l'évaluation des jeux !  
        Que vous soyez un joueur passionné ou un curieux à la recherche de nouveaux défis, 
        nous sommes votre référence ultime. Découvrez nos évaluations, 
        des astuces inédites pour maîtriser vos jeux préférés, 
        et des avis d'experts pour vous guider dans vos choix.

      </h2>

  </section>

  <section class="container-body-h3">
    <h3> Notez-les, c'est 100% gratuit ! </h3>
    </section>

    <section class="cards">
      <div class="card card-gauche">
        <div class="card-header gauche">
          <p>TOP 5</p>
          <p>Des meilleurs notes</p>
        </div>
        <div class="card-body">
          <div class="card-info">
            <p class="game-title">BLACK OPS 6 | PS5</p>
            <p class="game-points">645 Points</p>
          </div>
          <div class="card-info">
            <p class="game-title">SONIC | SEGA</p>
            <p class="game-points">523 Points</p>
          </div>
          <div class="card-info">
            <p class="game-title">LARA CROFT | PS4</p>
            <p class="game-points">327 Points</p>
          </div>
          <div class="card-info">
            <p class="game-title">LEAGUE OF LEGENDS | PC</p>
            <p class="game-points">278 Points</p>
          </div>
          <div class="card-info">
            <p class="game-title">MINECRAFT | XBOX</p>
            <p class="game-points">251 Points</p>
          </div>
        </div>

        <img src="img/test.svg" alt="Logo " width="230" height="230">
      </div>
    
      <div class="card card-droite">
        <div class="card-header">
          <p>Les cinq derniers</p>
          <p>Commentaires reçus</p>
        </div>
        <div class="card-body">
          <div class="comment">
            <div class="profile"><a href=""> <img src="img/bg-blackops6.jpg" alt="Logo " width="100" height="100"></a></div>
            <p class="game-title">BLACK OPS 6 | PS5
            </p>
            <a href=""><button class="button"><p>voir</p></button></a>
          </div>
          <div class="comment">
            <div class="profile"><a href=""> <img src="img/bg-blackops6.jpg" alt="Logo " width="100" height="100"></a></div>
            <p class="game-title">SONIC | SEGA
            </p>
            <a href=""><button class="button"><p>voir</p></button></a>
          </div>
          <div class="comment">
            <div class="profile"><a href=""> <img src="img/bg-blackops6.jpg" alt="Logo " width="100" height="100"></a></div>
            <p class="game-title">LARA CROFT | PS4
            </p>
              <a href=""><button class="button"><p>voir</p></button></a>
          </div>
          <div class="comment">
            <div class="profile"><a href=""> <img src="img/bg-blackops6.jpg" alt="Logo " width="100" height="100"></a></div>
            <p class="game-title">LEAGUE OF LEGENDS | PC
            </p>
              <a href=""><button class="button"><p>voir</p></button></a>
          </div>
          <div class="comment">
            <div class="profile"><a href=""> <img src="img/bg-blackops6.jpg" alt="Logo " width="100" height="100"></a></div>
            <p class="game-title">MINECRAFT | XBOX
            </p>
              <a href=""><button class="button"><p>voir</p></button></a>
          </div>
        </div>
      </div>
    </section>
  </div>

  {% endblock %}
