{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

<div class="container-profil">

    <div>

        <section>
            <div>
                <img src="{{user.avatar }}" alt=""> </img>
            </div>
        </section>
        
        <section>
            <div>
                Mon pseudo : {{ user.pseudo }} <br>   
                Mon email : {{ user.email }}<br>   
            </div>
        </section>

    </div>


</div>


{% endblock %}
