{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="container-login">
    <div class="form-container">

        <!-- Formulaire de connexion -->
        <form method="post">

            {% if error and error.messageKey == 'Invalid credentials.' %}
            <div style="color: #FF6B6B; font-weight: bold; text-align: center; margin-bottom: 20px;">
                The login information is incorrect.<br> Please check your email address and password.
            </div>
            {% endif %}

            <!-- Titre de la page -->
            <h1 class="login-h1">Login</h1>

            <!-- Champs du formulaire -->
            <section class="section-input">
                <div class="input-box">
                    <label class="required" for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required placeholder="Email">
                    <i class='bx bx-envelope'></i>
                </div>

                <div class="input-box">
                    <label class="required" for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" autocomplete="current-password" required placeholder="Password">
                    <i class='bx bx-lock-alt' id="togglePassword"></i>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </section>

            <!-- Option "Remember me" et lien "Mot de passe oublié" -->
            <div class="remember">
                <label><input type="checkbox" name="_remember_me"> Remember me</label>
                <a href="#">Forgot password?</a>
            </div>

            <!-- Bouton de connexion -->
            <button type="submit" class="btn-login">Log in</button>
            <div>
                <small><b class="required-red">*</b> = Required fields</small>
            </div>

            <!-- Lien vers la page d'inscription -->
            <div class="register-login">
                <p>Don't have an account? <a href="{{ path('register') }}">Register</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}
