{% extends 'base.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block body %}


<h1 style="margin-bottom:15px">Les jeux :</h1>

    <div class="container">
        
        {% for game in games.results %}

            <img style='width:400px', src="{{game.background_image}}" alt="">

            {{game.name}}
            {{game.released}}
            
                {% for genre in game.genres %}
                    {{genre.name}}

                    
                {% endfor %}

        {% endfor %}

        </div>

{% endblock %}
