{% extends 'base.html.twig' %}

{% block title %}PlayRanker Forum - New Post{% endblock %}

{% block body %}
<section class="min-h-screen flex items-center justify-center bg-[#97b4e0]">
    <div class="max-w-lg w-full mx-auto mt-10 p-6 bg-[#09172b] border border-[#ECC33E] rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold mb-6 text-[#ECC33E] text-center">Create a New Post</h1>
        {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}
            <div class="form-group">
                {{ form_widget(form, {'attr': {'class': 'w-full p-2 rounded bg-[#0C1D36] text-[#0C1D36] border border-[#ECC33E] focus:outline-none focus:ring-2 focus:ring-[#ECC33E]'}}) }}
            </div>
            <button type="submit" class="w-full bg-[#ECC33E] text-[#0C1D36] font-semibold py-2 rounded hover:bg-[#ebf1ff] transition duration-300">Add Post</button>
        {{ form_end(form) }}
    </div>
</section>    
{% endblock %}
