{% extends 'base.html.twig' %}

{% block title %} Créer un nouveau topic {% endblock %}

{% block body %}
<div class="p-12">
    <h1 class="text-3xl font-bold">Créer un nouveau topic dans {{ categoryForum.name }}</h1>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
