{% extends 'base.html.twig' %}

{% block title %} INDEX FORUM {% endblock %}

{% block body %}

<div> 
    <section class="container_forum">

            <table>   

                {% for category in categories %}

                <tr>
                    <td> <a href="{{path('topic', {id:category.id})}}"> {{category.name}} </a> </td>
                </tr>

                {% endfor %}

            </table>
            
    </section>

    <section>
        <h2> Les derniers topics</h2>
    </section>

    <section>
        <h2> Les derniers post</h2>
    </section>

</div>    



{% endblock %}
