{% extends 'base.html.twig' %}

{% block title %} FORUM - TOPIC {% endblock %}

{% block body %}

<section class="container_forum">
    <div>
        <table>
            <tr>
                <th> Forum categories </th>
            </tr>    
            {% for categories in category %}
            <tr>
                <td> <a href=""> {{categories.name}} </a> </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock %}